<header class="header header-layout2">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" href="/">
        <img
          src="assets/images/logo/logo-footer.png"
          class="logo-dark"
          alt="logo"
        />
      </a>
      <div class="header-topbar d-none d-lg-block">
        <div class="d-flex flex-wrap">
          <ul
            class="header-topbar__contact d-flex flex-wrap list-unstyled mb-0"
          >
            <li>
              <i class="icon-phone1"></i>
              <div>
                <span>Call Us:</span
                ><strong
                  ><a href="tel:+3197005035138">+3197005035138</a></strong
                >
              </div>
            </li>
            <li>
              <i class="icon-envelope1"></i>
              <div>
                <span>Email Us:</span
                ><strong
                  ><a href="mailto:info@marcperrer.com.com"
                    >info@marcperrer.com.com</a
                  ></strong
                >
              </div>
            </li>
            <li>
              <i class="icon-clock1"></i>
              <div>
                <span>Opening Hours:</span><strong>Mon-Fri: 8am – 7pm</strong>
              </div>
            </li>
          </ul>
          <a href="contact" class="btn btn__secondary header__btn">
            <i class="icon-arrow-right1"></i><span>Get A Quote</span>
          </a>
        </div>
      </div>
      <!-- /.header-topbar -->
      <button class="navbar-toggler" type="button">
        <span class="menu-lines"><span></span></span>
      </button>
    </div>
    <!-- /.container -->
    <div class="navbar__bottom sticky-navbar">
      <div class="container">
        <div class="collapse navbar-collapse" id="mainNavigation">
          <ul class="navbar-nav">
            <li class="nav__item with-dropdown">
              <a href="/" class="nav__item-link">Home</a>
            </li>
            <!-- /.nav-item -->
            <li class="nav__item with-dropdown">
              <a href="about" class="nav__item-link">About Us</a>
            </li>
            <li class="nav__item with-dropdown">
              <a href="project" class="nav__item-link">Project</a>
            </li>
            <!-- /.nav-item -->
            <li class="nav__item with-dropdown">
              <a href="service" class="nav__item-link">Services</a>
            </li>
            <!-- /.nav-item -->
            <li class="nav__item">
              <a href="contact" class="nav__item-link">Contact Us</a>
            </li>
            <!-- /.nav-item -->
          </ul>
          <!-- /.navbar-nav -->
        </div>
        <!-- /.navbar-collapse -->
        <div class="header-actions d-none d-lg-block">
          <ul
            class="header-actions__list list-unstyled d-flex align-items-center mb-0"
          >
            <li class="dropdown">
              <button
                class="dropdown-toggle"
                id="langDrobdown"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <i class="icon-globe mr-1"></i> <span>English</span>
              </button>
              <div class="dropdown-menu" aria-labelledby="langDrobdown">
                <a class="dropdown-item" href="#">Arabic</a>
                <a class="dropdown-item" href="#">germany</a>
              </div>
            </li>
            <li>
              <form class="header-search__form">
                <input
                  type="text"
                  placeholder="Search..."
                  class="form-control"
                />
                <button class="header-search__btn">
                  <i class="fa fa-search"></i>
                </button>
              </form>
            </li>
          </ul>
        </div>
        <!-- /.header-actions -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.navbar-bottom -->
  </nav>
  <!-- /.navabr -->
</header>
