<section class="page-title page-title-layout1 bg-overlay bg-parallax">
  <div class="bg-img">
    <img src="assets/images/page-titles/1.jpg" alt="background" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
        <span class="pagetitle__subheading"
          >Bigger, Better, Faster And Stronger Projects.</span
        >
        <h1 class="pagetitle__heading">
          Leading Way In Building & Civil Construction!
        </h1>
        <a href="projects-grid.html" class="btn btn__white">
          <i class="icon-arrow-right1"></i><span>Our Services</span>
        </a>
      </div>
      <!-- /.col-xl-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.page-title -->

<!-- ========================
  About Layout 2
=========================== -->
<section class="about-layout2 pb-40">
  <div class="container">
    <div class="row mb-50 align-items-center">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="heading-layout2 mb-20">
          <h2 class="heading__subtitle">
            Leading The Way In Building And Civil Construction
          </h2>
          <h3 class="heading__title">
            Committed To Delivering High Quality Construction Projects And
            Innovate Design!
          </h3>
        </div>
        <!-- /heading -->
      </div>
      <!-- /.col-lg-6 -->
      <div
        class="col-sm-12 col-md-12 col-lg-5 offset-lg-1 d-flex justify-content-end counters-wrapper"
      >
        <!-- counter item #1 -->
        <div class="counter-item">
          <h4 class="counter">6,154</h4>
          <p class="counter-item__desc">
            Projects And Residentials Completed in 2020
          </p>
        </div>
        <!-- counter item #2 -->
        <div class="counter-item">
          <h4 class="counter">2,512</h4>
          <p class="counter-item__desc">
            Qualified Employees And Workers With Us
          </p>
        </div>
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <p class="heading__desc mb-30">
          Yet those that embrace change are thriving, building bigger, better,
          faster, and stronger products than ever before. You are helping to
          lead the charge; we can help you build on your past and prepare
          future.
        </p>
        <p class="heading__desc">
          The world is changing faster than ever before, MarcPerrer
          constructions are threatened as technology disrupts and software.
        </p>
        <ul class="list-items list-unstyled mb-20 mt-40">
          <li>Quality Control System</li>
          <li>Unrivalled workmanship</li>
          <li>100% Satisfaction Guarantee</li>
          <li>Accurate Testing Processes</li>
          <li>Highly Professional Staff</li>
          <li>Professional and Qualified</li>
        </ul>
        <a href="projects-grid.html" class="btn btn__primary btn__lg mb-40">
          <i class="icon-arrow-right1"></i><span>More About Us</span>
        </a>
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <div class="about__img">
          <img src="assets/images/about/1.jpg" alt="about" class="img-fluid" />
          <div class="cta-banner">
            <div class="cta-banner__icon">
              <i class="icon-hard-hat"></i>
            </div>
            <h5 class="cta-banner__title">Join Us, Be Part Of Our Team!</h5>
            <a href="#" class="btn btn__primary btn__link"
              ><i class="icon-arrow-right1"></i
            ></a>
          </div>
          <!-- /.cta-banner -->
        </div>
        <!-- /.about-img -->
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.About Layout 2 -->

<!-- =========================== 
  portfolio grid 
============================= -->
<section class="portfolio-grid">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
        <div class="heading text-center mb-40">
          <h2 class="heading__subtitle">We Work With Global Industries!</h2>
          <h3 class="heading__title">Featured Projects</h3>
        </div>
        <!-- /.heading -->
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <!-- portfolio item #1 -->
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="portfolio-item">
          <div class="portfolio-item__img">
            <img src="assets/images/portfolio/grid/1.jpg" alt="portfolio img" />
          </div>
          <!-- /.portfolio-img -->
          <div class="portfolio-item__hover">
            <div class="portfolio-item__content">
              <h4 class="portfolio-item__title">
                <a href="#">The Fallingwater House</a>
              </h4>
              <div class="portfolio-item__cat">
                <a href="#">Building</a><a href="#">Interior</a>
              </div>
              <!-- /.portfolio-cat -->
            </div>
            <!-- /.portfolio-content -->
          </div>
          <!-- /.portfolio-item__hover -->
        </div>
        <!-- /.portfolio-item -->
      </div>
      <!-- /.col-lg-4 -->
      <!-- portfolio item #2 -->
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="portfolio-item">
          <div class="portfolio-item__img">
            <img src="assets/images/portfolio/grid/2.jpg" alt="portfolio img" />
          </div>
          <!-- /.portfolio-img -->
          <div class="portfolio-item__hover">
            <div class="portfolio-item__content">
              <h4 class="portfolio-item__title">
                <a href="#">The Guggenheim Museum</a>
              </h4>
              <div class="portfolio-item__cat">
                <a href="#">Construction</a><a href="#">Engineering</a>
              </div>
              <!-- /.portfolio-cat -->
            </div>
            <!-- /.portfolio-item__hover -->
          </div>
          <!-- /.portfolio-content -->
        </div>
        <!-- /.portfolio-item -->
      </div>
      <!-- /.col-lg-4 -->
      <!-- portfolio item #3 -->
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="portfolio-item">
          <div class="portfolio-item__img">
            <img src="assets/images/portfolio/grid/3.jpg" alt="portfolio img" />
          </div>
          <!-- /.portfolio-img -->
          <div class="portfolio-item__hover">
            <div class="portfolio-item__content">
              <h4 class="portfolio-item__title">
                <a href="#">Neue National Galerie</a>
              </h4>
              <div class="portfolio-item__cat">
                <a href="#">Renovation</a><a href="#">Architecture</a>
              </div>
              <!-- /.portfolio-cat -->
            </div>
            <!-- /.portfolio-content -->
          </div>
          <!-- /.portfolio-item__hover -->
        </div>
        <!-- /.portfolio-item -->
      </div>
      <!-- /.col-lg-4 -->
      <!-- portfolio item #4 -->
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="portfolio-item">
          <div class="portfolio-item__img">
            <img src="assets/images/portfolio/grid/4.jpg" alt="portfolio img" />
          </div>
          <!-- /.portfolio-img -->
          <div class="portfolio-item__hover">
            <div class="portfolio-item__content">
              <h4 class="portfolio-item__title">
                <a href="#">Sagrada Familia</a>
              </h4>
              <div class="portfolio-item__cat">
                <a href="#">Construstion</a><a href="#">Cuilding</a>
              </div>
              <!-- /.portfolio-cat -->
            </div>
            <!-- /.portfolio-content -->
          </div>
          <!-- /.portfolio-item__hover -->
        </div>
        <!-- /.portfolio-item -->
      </div>
      <!-- /.col-lg-4 -->
      <!-- portfolio item #5 -->
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="portfolio-item">
          <div class="portfolio-item__img">
            <img src="assets/images/portfolio/grid/5.jpg" alt="portfolio img" />
          </div>
          <!-- /.portfolio-img -->
          <div class="portfolio-item__hover">
            <div class="portfolio-item__content">
              <h4 class="portfolio-item__title">
                <a href="#">Heydar Aliyev Center</a>
              </h4>
              <div class="portfolio-item__cat">
                <a href="#">Engineering</a><a href="#">Renovation</a>
              </div>
              <!-- /.portfolio-cat -->
            </div>
            <!-- /.portfolio-content -->
          </div>
          <!-- /.portfolio-item__hover -->
        </div>
        <!-- /.portfolio-item -->
      </div>
      <!-- /.col-lg-4 -->
      <!-- portfolio item #6 -->
      <div class="col-sm-6 col-md-6 col-lg-4">
        <div class="portfolio-item">
          <div class="portfolio-item__img">
            <img src="assets/images/portfolio/grid/6.jpg" alt="portfolio img" />
          </div>
          <!-- /.portfolio-img -->
          <div class="portfolio-item__hover">
            <div class="portfolio-item__content">
              <h4 class="portfolio-item__title">
                <a href="#">Cathedral of Brasilia</a>
              </h4>
              <div class="portfolio-item__cat">
                <a href="#">Building</a><a href="#">Modern</a>
              </div>
              <!-- /.portfolio-cat -->
            </div>
            <!-- /.portfolio-content -->
          </div>
          <!-- /.portfolio-item__hover -->
        </div>
        <!-- /.portfolio-item -->
      </div>
      <!-- /.col-lg-4 -->
      <!-- portfolio item #7 -->
      <div class="col-sm-6 col-md-6 col-lg-4 portfolio-hidden">
        <div class="portfolio-item">
          <div class="portfolio-item__img">
            <img src="assets/images/portfolio/grid/7.jpg" alt="portfolio img" />
          </div>
          <!-- /.portfolio-img -->
          <div class="portfolio-item__hover">
            <div class="portfolio-item__content">
              <h4 class="portfolio-item__title">
                <a href="#">Neue National Galerie</a>
              </h4>
              <div class="portfolio-item__cat">
                <a href="#">construction</a>
              </div>
              <!-- /.portfolio-cat -->
            </div>
            <!-- /.portfolio-content -->
          </div>
          <!-- /.portfolio-item__hover -->
        </div>
        <!-- /.portfolio-item -->
      </div>
      <!-- /.col-lg-4 -->
      <!-- portfolio item #8 -->
      <div class="col-sm-6 col-md-6 col-lg-4 portfolio-hidden">
        <div class="portfolio-item">
          <div class="portfolio-item__img">
            <img src="assets/images/portfolio/grid/8.jpg" alt="portfolio img" />
          </div>
          <!-- /.portfolio-img -->
          <div class="portfolio-item__hover">
            <div class="portfolio-item__content">
              <h4 class="portfolio-item__title">
                <a href="#">Villy Manufacturing Inc</a>
              </h4>
              <div class="portfolio-item__cat">
                <a href="#">Engineering</a><a href="#">Auto</a>
              </div>
              <!-- /.portfolio-cat -->
            </div>
            <!-- /.portfolio-content -->
          </div>
          <!-- /.portfolio-item__hover -->
        </div>
        <!-- /.portfolio-item -->
      </div>
      <!-- /.col-lg-4 -->
      <!-- portfolio item #9 -->
      <div class="col-sm-6 col-md-6 col-lg-4 portfolio-hidden">
        <div class="portfolio-item">
          <div class="portfolio-item__img">
            <img src="assets/images/portfolio/grid/9.jpg" alt="portfolio img" />
          </div>
          <!-- /.portfolio-img -->
          <div class="portfolio-item__hover">
            <div class="portfolio-item__content">
              <h4 class="portfolio-item__title">
                <a href="#">Highway Energy Station</a>
              </h4>
              <div class="portfolio-item__cat">
                <a href="#">Construction</a><a href="#">Energy</a>
              </div>
              <!-- /.portfolio-cat -->
            </div>
            <!-- /.portfolio-content -->
          </div>
          <!-- /.portfolio-item__hover -->
        </div>
        <!-- /.portfolio-item -->
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 text-center">
        <button
          type="button"
          class="btn btn__primary btn__bordered btn__loadMore loadMoreportfolio"
        >
          <i class="icon-arrow-right1"></i><span>Explore All</span>
        </button>
      </div>
      <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.portfolio grid -->

<!-- ======================
 Work Process 
========================= -->
<section class="work-process pb-200">
  <div class="bg-img">
    <img src="assets/images/backgrounds/1.jpg" alt="background" />
  </div>
  <div class="container">
    <div class="row heading heading-layout3 mb-80">
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h2 class="heading__subtitle">How We Work!!</h2>
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h3 class="heading__title color-white">
          Pushing The Boundaries Of What’s Possible.
        </h3>
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
    <div class="row process-items-wrapper">
      <!-- process Item #1 -->
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="process-item">
          <div class="process-item__icon">
            <i class="icon-planning"></i>
          </div>
          <!-- /.process-item__icon -->
          <h4 class="process-item__title">
            Evaluation And Signing Of The Contract.
          </h4>
          <p class="process-item__desc">Step 01</p>
        </div>
        <!-- /.process-item -->
      </div>
      <!-- /.col-lg-3 -->
      <!-- process Item #2 -->
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="process-item">
          <div class="process-item__icon">
            <i class="icon-barrier1"></i>
          </div>
          <!-- /.process-item__icon -->
          <h4 class="process-item__title">Preparation Of The Work Plan.</h4>
          <p class="process-item__desc">Step 02</p>
        </div>
        <!-- /.process-item -->
      </div>
      <!-- /.col-lg-3 -->
      <!-- process Item #3 -->
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="process-item">
          <div class="process-item__icon">
            <i class="icon-concrete-mixer-1"></i>
          </div>
          <!-- /.process-item__icon -->
          <h4 class="process-item__title">Implementation Of Quality Works</h4>
          <p class="process-item__desc">Step 03</p>
        </div>
        <!-- /.process-item -->
      </div>
      <!-- /.col-lg-3 -->
      <!-- process Item #4 -->
      <div class="col-sm-6 col-md-6 col-lg-3">
        <div class="process-item">
          <div class="process-item__icon">
            <i class="icon-pantone"></i>
          </div>
          <!-- /.process-item__icon -->
          <h4 class="process-item__title">
            Delivering The Project To The Customer
          </h4>
          <p class="process-item__desc">Step 04</p>
        </div>
        <!-- /.process-item -->
      </div>
      <!-- /.col-lg-3 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.Work Process -->
