<section
  class="page-title page-title-layout6 bg-overlay bg-overlay-2 bg-parallax"
>
  <div class="bg-img">
    <img src="assets/images/page-titles/7.jpg" alt="background" />
  </div>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-7">
        <h1 class="pagetitle__heading">
          We Help You Build On Your Past <br />
          And Prepare For The Future.
        </h1>
        <p class="pagetitle__desc">
          As a diversified construction management, design-build, and general
          contracting firm, MarcPerrer Group is recognized as one of the World's
          leading Industry and Manufacturing Corporation!
        </p>
        <a href="contact" class="btn btn__secondary">
          <i class="icon-arrow-right1"></i><span>Schedule An Appointment</span>
        </a>
      </div>
      <!-- /.col-xl-7 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.page-title -->

<!-- ========================
    Services Layout 1
=========================== -->
<section class="services-layout1 pb-90 bg-gray">
  <div class="bg-img">
    <img src="assets/images/backgrounds/map.png" alt="background" />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-8 offset-lg-2">
        <div class="heading text-center mb-40">
          <span class="heading__subtitle"
            >The Best A Grade Commercial & Residential Services</span
          >
          <h2 class="heading__title">
            High Quality Construction Solutions For Residential & Industries!
          </h2>
        </div>
        <!-- /.heading -->
      </div>
      <!-- /.col-lg-8 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="service-item">
          <div class="service-item__content">
            <h4 class="service-item__title">
              Architecture <br />
              & Building
            </h4>
            <p class="service-item__desc">
              Architecture is both the process and the product of planning, and
              constructing buildings or any other structures.
            </p>
          </div>
          <!-- /.service-content -->
          <div class="service-item__img">
            <img
              src="assets/images/services/1.jpg"
              alt="service"
              class="w-100"
            />
          </div>
          <!-- /.service-item__img -->
        </div>
        <!-- /.service-item -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="service-item">
          <div class="service-item__content">
            <h4 class="service-item__title">
              Construction <br />
              Consultants
            </h4>
            <p class="service-item__desc">
              Given the increasing complexity of many construction projects it
              is becoming more common to consult a consultant.
            </p>
          </div>
          <!-- /.service-content -->
          <div class="service-item__img">
            <img
              src="assets/images/services/2.jpg"
              alt="service"
              class="w-100"
            />
          </div>
          <!-- /.service-item__img -->
        </div>
        <!-- /.service-item -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="service-item">
          <div class="service-item__content">
            <h4 class="service-item__title">
              Construction<br />
              Management
            </h4>
            <p class="service-item__desc">
              Professional service uses specialized, project management
              techniques to oversee the planning, design.
            </p>
          </div>
          <!-- /.service-content -->
          <div class="service-item__img">
            <img
              src="assets/images/services/3.jpg"
              alt="service"
              class="w-100"
            />
          </div>
          <!-- /.service-item__img -->
        </div>
        <!-- /.service-item -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="service-item">
          <div class="service-item__content">
            <h4 class="service-item__title">
              Tiling and<br />
              Painting
            </h4>
            <p class="service-item__desc">
              When it comes to choosing a renovator to transform the interior of
              your home, quality never be compromised.
            </p>
          </div>
          <!-- /.service-content -->
          <div class="service-item__img">
            <img
              src="assets/images/services/4.jpg"
              alt="service"
              class="w-100"
            />
          </div>
          <!-- /.service-item__img -->
        </div>
        <!-- /.service-item -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="service-item">
          <div class="service-item__content">
            <h4 class="service-item__title">
              Planning And <br />
              Scheduling
            </h4>
            <p class="service-item__desc">
              Planning involves identification of a task or tasks that need to
              occur. Scheduling involves assigning the future action.
            </p>
          </div>
          <!-- /.service-content -->
          <div class="service-item__img">
            <img
              src="assets/images/services/5.jpg"
              alt="service"
              class="w-100"
            />
          </div>
          <!-- /.service-item__img -->
        </div>
        <!-- /.service-item -->
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="service-item">
          <div class="service-item__content">
            <h4 class="service-item__title">
              Design Build <br />
              Contracts
            </h4>
            <p class="service-item__desc">
              Design build is project delivery in which one entity works under a
              single contract with the project owner to provide.
            </p>
          </div>
          <!-- /.service-content -->
          <div class="service-item__img">
            <img
              src="assets/images/services/6.jpg"
              alt="service"
              class="w-100"
            />
          </div>
          <!-- /.service-item__img -->
        </div>
        <!-- /.service-item -->
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.Services Layout 1 -->

<!-- =========================
   Banner layout 3
  =========================== -->
<section class="banner-layout3 bg-overlay bg-overlay-gradient">
  <div class="bg-img">
    <img src="assets/images/banners/4.jpg" alt="banner" />
  </div>
  <div class="container">
    <div class="row heading-layout3 heading-light mb-40">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <h2 class="heading__subtitle color-secondary">
          Bigger, Better, Faster And Stronger Projects.
        </h2>
      </div>
      <!-- /.col-lg-12 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <h3 class="heading__title">
          Leading Way In Building & Civil Construction!
        </h3>
      </div>
      <!-- /.col-lg-6 -->
      <div class="col-sm-12 col-md-12 col-lg-6">
        <p class="heading__desc">
          The world is changing faster than ever before, MarcPerrer
          constructions are threatened as technology disrupts and software. Yet
          those embrace change are thriving, building bigger, better, faster &
          stronger products than ever before, we help you build on your past and
          prepare future.
        </p>
      </div>
      <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
    <div class="row">
      <div class="col-sm-6 col-md-6 col-lg-3">
        <!-- fancybox item #1 -->
        <div class="fancybox-item">
          <div class="fancybox-item__icon">
            <i class="icon-drill"></i>
          </div>
          <!-- /.fancybox-icon -->
          <div class="fancybox-item__content">
            <h4 class="fancybox-item__title">Professional Staff</h4>
          </div>
          <!-- /.fancybox-content -->
        </div>
        <!-- /.fancybox-item -->
      </div>
      <!-- /.col-lg-3 -->
      <div class="col-sm-6 col-md-6 col-lg-3">
        <!-- fancybox item #2 -->
        <div class="fancybox-item">
          <div class="fancybox-item__icon">
            <i class="icon-crane1"></i>
          </div>
          <!-- /.fancybox-icon -->
          <div class="fancybox-item__content">
            <h4 class="fancybox-item__title">100% Satisfaction</h4>
          </div>
          <!-- /.fancybox-content -->
        </div>
        <!-- /.col-lg-4 -->
      </div>
      <!-- /.col-lg-3 -->
      <div class="col-sm-6 col-md-6 col-lg-3">
        <!-- fancybox item #3 -->
        <div class="fancybox-item">
          <div class="fancybox-item__icon">
            <i class="icon-pipes"></i>
          </div>
          <!-- /.fancybox-icon -->
          <div class="fancybox-item__content">
            <h4 class="fancybox-item__title">Accurate Testing</h4>
          </div>
          <!-- /.fancybox-content -->
        </div>
        <!-- /.fancybox-item -->
      </div>
      <!-- /.col-lg-3 -->
      <div class="col-sm-6 col-md-6 col-lg-3">
        <!-- fancybox item #3 -->
        <div class="fancybox-item">
          <div class="fancybox-item__icon">
            <i class="icon-excavator"></i>
          </div>
          <!-- /.fancybox-icon -->
          <div class="fancybox-item__content">
            <h4 class="fancybox-item__title">Transparent Pricing</h4>
          </div>
          <!-- /.fancybox-content -->
        </div>
        <!-- /.fancybox-item -->
      </div>
      <!-- /.col-lg-3 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
<!-- /.Banner layout 3 -->
